/* main header css */

.mainHearder .navbar-brand {
    width: 120px;
}

.navbar-brand img {
    width: 100%;
}

.mainHearder .navbar-nav .active>.nav-link,
.mainHearder .navbar-nav .nav-link.active,
.mainHearder .navbar-nav .nav-link.show,
.mainHearder .navbar-nav .show>.nav-link {
    color: orange;
    border-bottom: 2px solid orange;

}

.mainHearder .navbar-nav .nav-link:focus,
.mainHearder .navbar-nav .nav-link:hover {
    color: orange;
    border-bottom: 2px solid orange;
}

/* carasoul css */

.sliderMain img {

    height: 400px;
    object-fit: cover;
}

.sliderMain .carousel-caption {
    bottom: auto;
    top: 25%;
}

/* paralyx css */


.paralyx {
    background: url('../images/lights.jpg') no-repeat fixed center;
    background-size: cover;
    position: relative;
    background-image: linear-gradient rgba(41, 39, 39, 0.7);
}

/* product section css */

.prodImg img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.prod-info {
    padding-top: 5.5rem;
}

/* video section css */
.videoInfo {
    background: url('../images/media.jpg') no-repeat fixed center;
    background-size: cover;
    /* position: relative; */
    background-image: linear-gradient rgba(41, 39, 39, 0.7);
}

.gallery img {
    width: 300px;
    height: 300px;

    object-fit: cover;
}

.newsletter {
    background-color: rgb(48, 45, 45);
}

/* about us page css */
#tmSlider img {
 
    width: 80% !important;
    margin: 0 auto ;
    border-radius: 50%;
    border: 3px solid rgb(191, 77, 77);
}

#tmSlider item {
    text-align: justify;
}

#tmSlider .owl-nav {
    position: absolute;
    top: 25%;
    left: -5%;
    width: 110%;
    display: flex;
    justify-content: space-between;
}